#button-menu {
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
  margin-right: 0.4rem;
  min-width: 12rem;
}

@media (min-width: 768px) {
  #main-navbar {
    flex-basis: 100%;
  }
}

#logo {
  height: 2rem;
}
